@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&family=Goldman:wght@400;700&display=swap');
/* font-family: "Goldman", sans-serif; */
body {
    background-color: black;
    margin: 0;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    color: whitesmoke;
}

header {
    width: 1100px;
    height: 70px;
    background-color: #1B1B1B;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

header .box {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

header nav {
    width: 75%;
}

header .links {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}

header li {
    display: block;
    margin-right: 35px;
}

header li a {
    color: whitesmoke;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 0 whitesmoke;
    transition: box-shadow 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}

header li a:hover {
    color: white;
    font-weight: 900;
    box-shadow: inset 0 -4px 0 0 whitesmoke; 
}

header img {
    width: 25px;
    filter: invert(100%);
}

.box {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

section {
    position: relative;
    top: 70px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
    max-width: 1280px;
    font-size: 25px;
}

hr {
    width: 60%;
    margin-top: 60px;
    margin-bottom: 0;
}

article {
    padding: 20px;
}

#about-me img {
    width: 37%;
    border-radius: 0 20px 20px 0;
}

#about-me .box:hover {
    border-radius: 20px;
    background: linear-gradient(to bottom, #1b1b1b, #000000);
}